*{
    padding: 0%;
    margin: 0%;
}

.iniciar{
    
    width: 672px;
    height: 317px;
    
    margin: 150px auto;
align-items: center;
text-align: center;
background: #2F2F2F;
border-radius: 51px;
}

.usu, .pass{
    border-radius: 1rem;
}

.text1, .text2{
    color: white;
    font-size: 20px;
}

.tit{
    font-family: Jockey One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
line-height: 50px;
text-align: center;
color: white;
}

.acceder{
    background-color: #FF380D;
    padding: 0.8rem;
border: none;
border-radius: 1rem;

margin-bottom: 50px auto;
}

header{
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 5px #000;
    align-items: center;
    text-align: center;
    background-color: #2F2F2F;
    font-family: Fjalla One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 67px;

}

a{
    text-decoration: none;
    color: white;
}

.consultar{
    width : 40%;
    color: white;
    height: 40%;
}

.ingresar{
    position: absolute;
width: 110px;
height: 50px;
right: 70px;
top: 5px;
color: white;
font-size: 30px;
display: flex;
}