header{
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 5px #000;
    align-items: center;
    text-align: center;
    background-color: #2F2F2F;
    font-family: Fjalla One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 67px;

}
a{
    text-decoration: none;
    color: white;
}

.ingresar{
    position: absolute;
width: 110px;
height: 50px;
right: 70px;
top: 5px;
color: white;
font-size: 30px;
display: flex;
}

.container{
    margin: 3rem;
    background-color: #2F2F2F;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 4rem;
    
}

h1{
    font-family: Fjalla One;
}

select{
    background: none;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #fc6404 ;
    font-size: 20px;
    transition: all 0.2s;
    margin-left: 1.5rem;
}

textarea{
    background-color: #6b6b6b;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo' sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 1rem;
    transition: all 0.2s;
    width: 30rem;
}

textarea:hover{
    cursor: pointer;
    background-color: #acacac;
}

textarea:focus{
    cursor: text;
    color: black;
    background-color: white;
    border-color: #fc6404;
}


select:hover{
    cursor: pointer;
    background-color: #acacac;
    color: black;
}

.btn{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 3rem;
}
