<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Publicar</servlet-name>
        <servlet-class>servlets.Publicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActPub</servlet-name>
        <servlet-class>servlets.ActPub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Iniciar</servlet-name>
        <servlet-class>servlets.Iniciar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActUsu</servlet-name>
        <servlet-class>servlets.ActUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarCuen</servlet-name>
        <servlet-class>servlets.BorrarCuen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar</servlet-name>
        <servlet-class>servlets.Cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calificar</servlet-name>
        <servlet-class>servlets.Calificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calificacion</servlet-name>
        <servlet-class>servlets.calificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPub</servlet-name>
        <servlet-class>servlets.BorrarPub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reseñas</servlet-name>
        <servlet-class>servlets.Reseñas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resenas</servlet-name>
        <servlet-class>servlets.Resenas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarCuen2</servlet-name>
        <servlet-class>servlets.BorrarCuen2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar2</servlet-name>
        <servlet-class>servlets.Registrar2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Publicar</servlet-name>
        <url-pattern>/Publicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActPub</servlet-name>
        <url-pattern>/ActPub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Iniciar</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActUsu</servlet-name>
        <url-pattern>/ActUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarCuen</servlet-name>
        <url-pattern>/BorrarCuen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar</servlet-name>
        <url-pattern>/Cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calificar</servlet-name>
        <url-pattern>/Calificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calificacion</servlet-name>
        <url-pattern>/calificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPub</servlet-name>
        <url-pattern>/BorrarPub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reseñas</servlet-name>
        <url-pattern>/Rese_as</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resenas</servlet-name>
        <url-pattern>/Resenas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarCuen2</servlet-name>
        <url-pattern>/BorrarCuen2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar2</servlet-name>
        <url-pattern>/Registrar2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
